/* 
CSS rules:
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
  --clrBeeKeeper: #f6e58d;
  --clrSpicedNectarine: #ffbe76;
  --clrTurbo: #f9ca24;
  --clrQuinceGelly: #f0932b;

  --clrCoastalBreeze: #dff9fb;
  --clrMiddleBlue: #7ed6df;
  --clrSoaringEagle: #95afc0;
  --clrJuneBud: #badc58;
  --clrHintOfIcePack: #c7ecee;
  --clrGreenlandGreen: #22a6b3;

  --clrPureApple: #6ab04c;
  --clrHeliotrope: #e056fd;
  --clrSteelPink: #be2edd;
  --clrExodusFruit: #686de0;
  --clrBlurple: #4834d4;

  --clrPinkGlamore: #ff7979;
  --clrCarminePink: #eb4d4b;
  --clrDeepKoamaru: #30336b;
  --clrDeepCove: rgb(19, 15, 64);
  --clrWizardGray: #535c68;

  --fontJosefin: "Josefin Slab", serif;
  --fontPatrickHand: "Patrick Hand", cursive;
  --fontNunito: "Nunito", sans-serif;
  --fontOpenSans: "Open Sans", sans-serif;
  --fontHeader: var(--fontNunito);
  --fontContent: var(--fontOpenSans);

  --lightColor: white;
  --mediumColor: var(--clrPinkGlamore);
  --darkColor: var(--clrDeepCove);

  --primaryColor: var(--clrDeepCove);
  --secondaryColor: var(--clrGreenlandGreen);
  --textColor: var(--clrHintOfIcePack);
  --highlightColor: var(--clrGreenlandGreen);

  --max-width: 1100px;
  --navbar-height: 50px;
}

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  background-color: var(--darkColor);
  color: var(--lightColor);
  line-height: 1.6rem;
  height: 100vh;
}

h2,
h3,
h4 {
  font-family: var(--fontHeader);
  /* text-transform: uppercase; */
  color: var(--lightColor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--darkColor);
}

p {
  font-family: var(--fontOpenSans);
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
}

.block {
  /* background-color: var(--darkColor); */
  background-color: #000;
  color: var(--lightColor);
  height: 100vh;
}


.round-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: none;
  outline: 0;
  margin: 10px;
  color: var(--lightColor);
  font-size: 20px;
  /* box-shadow: var(--clrPasterBrown) 2px 10px 20px ; */


}
.round-btn:hover {
  box-shadow: var(--lightColor) 1px 5px 20px ;
}
.round-btn:active {
  box-shadow: none;
}
.round-btn>a{
  margin: 0;
}

.round-btn#btnResume {
  background-color: var(--clrTurbo);
}


.round-btn#btnProjects {
  background-color: var(--clrBeeKeeper);
}


.round-btn#btnSkills {
  background-color: var(--clrJuneBud);
}


/* ////////////////////////////////////////////////// */
/* Navbar */
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
  color: var(--lightColor);
  opacity: 0.6;
  text-align: center;
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  padding: 0 30px;
  transition: 0.5s;
}
/* 
.navbar-top {
  background: transparent;
} */

.navbar-top a {
  color: var(--lightColor);
  padding: 10px 20px;
  margin: 0 5px;
}

/* //////////////////////////// */

.navbar-top a:hover {
  border-bottom: var(--textColor) 2px solid;
  color: var(--clrBeeKeeperColor);
}

.navbar-top ul {
  display: flex;
  justify-self: right;
  justify-content: space-between;
  position: relative;
  width: 70%;
}

.navbar-top .logo {
  width: 70px;
  height: 70px;
  margin: auto 0;
  
  position: relative;
  font-family: 'Audiowide', cursive;
  font-family: regular;
  font-size: 20px;
  /* background-color: url("/images/low_poly_bg.jpg"); */
}
.navbar-top .logo h1 {
  margin: 10px;
}

/* //////////////////////////////////////////////////////// */
/* // Hero Landing Page */
.block--hero {
  background: url("../images/hexagon-2822770.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 1s ease-out;
}

.block--hero .content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  /* padding: 0 20px; */
}

.block--hero .content .hello {
  /* line-height: 160px; */
  margin-top: 200px;
top: 0;
  font-size: 120px;
  /* margin: 0; */
}


.block--hero .content .name {
  font-size: 40px;
  max-width: 600px;
  height: 20%;
  /* margin: auto 0; */
  margin: 0;
}


.block--hero .letter {
  font-size: 120px;
  display: inline;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transform-origin: left;
  transition: all 0.6s ease-in-out;
}

.block--hero .letter:hover {
  white-space: pre;
  /* transform: rotate(45); */
  font-size: larger;
  color: var(--darkColor);
}

.block--hero .next {
  position: absolute;
  background-color: var(--primaryColor);
  opacity: 0.5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  margin: 0 auto;
}
a.btn--next{
  margin: auto 0;
  /* text-align: center; */
}
a.btn--next i{
  color: var(--lightColor);
  /* margin: auto; */
  /* text-align: center; */
}

/* overlay */
.block--hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondaryColor);
  opacity: 0.5;;
  z-index: inherit
}

.navbar-top ul {
  z-index: 10;
}

.block--hero * {
  z-index: 10;
}
/* /////////////////////////////////////////////// */
/* About section */

.block--about {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--primaryColorColor);
}

.site-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.site-main > .main-img > img {
  width: 250px;
  min-width: 250px;
  height: auto;
  margin: auto 40px;
  border-radius: 50%;
  box-shadow: black 2px 10px 20px;
}

.site-main > .main-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* Experience Section */

@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondaryColor) transparent transparent;
  }
}

/* //////////////////////////////////////////////////////// */
/* Experience 2 */
.block--experience {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  /* display: none; */
  background: var(--primaryColor);
}

.block--experience .main-header {
  background-color: var(--lightColor);
  color: --primaryColor;
}

.block--experience li {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0 30px;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: var(--lightColor);
  /* background: var(--primaryColor); */
  background-color: inherit;
  transform: scaleY(1);
  transition: transform 1s ease-in-out;
  
}
/* //numbers */
.block--experience li:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: black;
  text-align: center;
  line-height: 1.25em;
  color: white;
  font-size: 1em;
  transform: scaleY(0);
}
/* //odd number borders */
.block--experience li:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  
}
.block--experience li:nth-child(odd) :before {
  left: 100%; 
  margin-left: -20px;
}

/* //even number borders */
.block--experience li:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  
}
.block--experience li:nth-child(even):before {
 right: 100%; 
 margin-right: -20px;
}

/* //handle first and last */
.block--experience li:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.block--experience li:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}



/* /////////////////////////////////////////////// */
/* Education  */

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondaryColor) transparent transparent;
  }
}

/* ////////////////////////////////////////////////////////// */
/* Education */

.block--education {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: var(--secondaryColor);
}

.block--education li {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0 30px;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: var(--lightColor);
  
  background-color: inherit;
  transform: scaleY(1);
  transition: transform 1s ease-in-out;
  
}
/* //numbers */
.block--education li:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: black;
  text-align: center;
  line-height: 1.25em;
  color: white;
  font-size: 1em;
  transform: scale(0);
}
/* //odd number borders */
.block--education li:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  
}
.block--education li:nth-child(odd) :before {
  left: 100%; 
  margin-left: -20px;
}

/* //even number borders */
.block--education li:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  
}
.block--education li:nth-child(even):before {
 right: 100%; 
 margin-right: -20px;
}

/* //handle first and last */
.block--education li:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.block--education li:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}


/* ///////////////////////////////////////////////////// */
/* Contact Page */

.block--contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: var(--lightColor);
}


.block--contact .grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
  margin: auto 0;
  padding: 20px;
  width: 60%;
  height: 70%;
  background-color: var(--primaryColor);
  grid-gap: 5px;
}

/* Typewrite imag`e */
.grid div:first-child {
  width: 150px;
  height: 150px;
  justify-content: center;
  margin: auto;
  /* margin-left: 50px; */
}


.grid div:first-child img{
  height: 100%;
  width: 100%;
}

/* Form */
.grid div:nth-child(2) {
  position: relative;
  width: 100%;
  height: 100%;
  right: 0;
  /* background-color: red; */
  /* outline: red 1px solid; */
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content:center;

}


.block--contact .grid .cell--form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid yellow; */
  width: 100%;
  height: 100%;
  margin:auto 0;
  top: 0;
}

.callback-form {

position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: start;
}

.callback-form .form-control {
  margin: 0;
  padding: 0;
  height: 30px;
}


/* //////////////////////////////////////////////////////////////////////////////// */
.footer {
  background-color: var(--primaryColor);
}

.footer > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer > ul > li {
  text-decoration: none;
  color: var(--lightColor);
  margin: 10px auto;
  list-style: none;
}

.footer > ul > li > a {
  margin: 0 5px;
}

.navbar-top {
  z-index: 200;
}